.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #640a02;
    
    /* background-color: #6e0d03; */
    /* background-color: #faf9f6; */
    /* background-color: #fbfbfb; */
    /* background-color: #141e46; */
    /* background-image: url("../assets/images/bg.svg"); */
    background-image: url("../assets/images/bg.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    /* color: #004aad; */
    color: #faf9f6;
    transition: all 2s ease-in;
    transform: translateY(-100%);
}

.welcome.active {
    transform: translateY(0);
    opacity: 1;
}

.welcome.hide {
    top: -100%;
    opacity: 0;
}

.welcome h2 {
    font-size: 2.4rem;
    font-family: var(--sacramento);
    font-weight: 400;
}

.welcome figure {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    margin: 1rem 0;
}

.welcome figure img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 6px #6f6f6f; /* Stronger and more spread shadow */
    border: 1px solid #6f6f6f;
}

.welcome figure figcaption {
    font-size: var(--fontSize-heading-base);
    font-family: var(--sacramento);
    font-weight: 400;
    margin-top: 2rem;
}

.welcome figure figcaption span {
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome p span {
    font-size: 2rem;
    margin: 1rem 0;
    display: block;
}

.welcome button {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    gap: 0.4rem;
    color: #666;
    background: #e8e7e7;
    /* color: #004aad; */
    padding: 0.5rem 1rem;
    border: none;
    transition: var(--transition-small);
    border-radius: 15px;
    cursor: pointer;
}

.welcome button:hover {
    color: #faf9f6;
    background-color: #886308;
}

.welcome button i {
    font-size: 1.2rem;
}