.wishes {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 8rem;
    background-color: var(--bg-color);
    position: relative;
    text-align: center;
}

.wishes div:nth-of-type(1) h2, .wishes div:nth-of-type(2) h2 {
    font-size: var(--fontSize-heading-base);
    font-family: var(--sacramento);
    font-weight: 400;
}

.wishes div:nth-of-type(1) > div {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.wishes div:nth-of-type(1) > div figure {
    width: 24rem;
    text-align: center;
    border-radius: 15px;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.wishes div:nth-of-type(1) > div figure img {
    width: 10rem;
    height: 3rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.wishes div:nth-of-type(1) > div figure figcaption {
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.wishes div:nth-of-type(1) > div figure button {
    padding: 0.4rem 1rem;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition-small);
}

.wishes div:nth-of-type(1) > div figure button:hover {
    background-color: #000;
    color: #fff;
}

.wishes div:nth-of-type(2){
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem 4rem 4rem;
}

.wishes div:nth-of-type(2) > form {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.wishes div:nth-of-type(2) > form label {
    display: block;
    margin-top: 1.4rem;
    margin-bottom: 4px;
}

.wishes div:nth-of-type(2) > form input,
.wishes div:nth-of-type(2) > form select,
.wishes div:nth-of-type(2) > form textarea {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none;    /* For Firefox */    
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: 0.05rem solid #ccc;
}

.wishes div:nth-of-type(2) > form textarea {
    min-height: 6rem;
}

.wishes div:nth-of-type(2) > form button {
    width: 100%;
    color: #fff;
    background-color: #a17507;
    padding: 0.6rem 0;
    border-radius: 5px;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}

.wishes div:nth-of-type(3) {
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem 4rem;
}

.wishes div:nth-of-type(3) ul {
    margin-top: 1.4rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    min-height: 26rem;
    max-height: 30rem;
    overflow-y: hidden;
}

.wishes div:nth-of-type(3) ul li {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.wishes div:nth-of-type(3) ul li div:nth-of-type(1){
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
}

.wishes div:nth-of-type(3) ul li div:nth-of-type(2){
    margin: 0.4rem 0 0;
    padding: 0;
    text-align: start;
    box-shadow: none;
}

.wishes div:nth-of-type(3) ul li div:nth-of-type(2) h4 {
    font-size: 1rem;
    font-weight: 400;
}

.wishes div:nth-of-type(3) ul li div:nth-of-type(2) p:nth-of-type(1){
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1rem;
}

.wishes div:nth-of-type(3) ul li div:nth-of-type(2) p:nth-of-type(2){
    margin-top: 0.4rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.wishes div:nth-of-type(3) .button-grup {
    background-color: #a17507;
    color: #fff;
    margin: 1rem auto 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishes div:nth-of-type(3) .button-grup > span {
    background-color: #a17507   ;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishes div:nth-of-type(3) .button-grup  button {
    background-color: #a17507   ;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    background:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.wishes svg:nth-of-type(1){
    position: absolute;
    z-index: -10;
    top: -12rem;
    left: 0;
    right: 0;
}

.wishes svg:nth-of-type(2) {
    position: absolute;
    z-index: -10;
    left: 0;
    right: 0;
    bottom: -15rem;
}

.wishes button {
    background-color: #a17507   ;
}